@import "globals";
@import "flex";

/* Base elements */
body {
    margin: 35px 0;
    font-family: {font:Body}, sans-serif;
    font-size: 16px;
    word-wrap: break-word;
}

a {
    color: #33C3F0;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

h1, h2, h3, h4 {
    font-weight: 300;
    margin: 10px 0;
}

li {
    padding: 0;
    margin: 0
}

hr {
    margin: 2rem 0rem;
    border-bottom: 1px solid #EEE;
}

blockquote {
    border-left: 2px solid {color:Quote Bars};
    padding: 0px 5px;
    margin: 0px 5px;
}

/* General */

.fa { font-size: 1.5rem; }
.clearfix { clear: both; }

#background {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -10;
    background: {color:Background} url('{image:Background Image}');
    background-repeat: no-repeat;
    background-size: cover;
}

/* Posts */

.post {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.75);
    border-bottom: 3px solid {color:Post Side};

    .ask {
        background-color: rgba(190, 190, 190, 0.5);
        padding: 1rem;
    }

    .chat {
        list-style: none;
    }

    .caption {
        margin-top: 1em;
    }

    .info {
        margin-top: 25px;
        .rebloglink {
            float: right;
            color: {color:Reblog Link};
        }
    }

    // Notes
    .more_notes_link_container { list-style-type: none; }

    li.note {
        width: 100%;
        margin-bottom: 5px;
    }

    // Responsive images 
    img:not(.icon):not(.avatar) {
        max-width: 100%;
        height: auto;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 5px;
    }
}

/* Profile */

#userinfo {
    text-align: center;
    margin-bottom: 15px;

    #desc {
        font-family: {TitleFont};
        font-weight: {TitleFontWeight};
        color: {color:description};
        margin: 0 25px;
    }
    
    #title {
        font-size: 3rem;
    }
}

/* Videos */

.videoWrapper,
.tmblr-embed {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.profile {
    box-shadow: 0 0 0 2px;
    color: #D2D2D2;

    &.circle {
        border-radius: 50%;
    }
}

/* Navbar */

.nav {
    & {
        overflow: hidden;
        font-size: 0px; // lol html
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    
    li {
        display: inline;
        vertical-align: top;
    }
    
    a {
        font-size: 1rem;
        padding: 0.6rem 1rem;
        &.active,
        &.hover {
            background-color: rgba(192, 192, 192, 0.50);
        }
    }
}

/* Mobile */
@media only screen and (max-width: $mobile_width) {
    #title {
        font-size: 2rem;
    }

    .two, .five, .eight {
        flex: 1 1 100%;
        -webkit-flex: 1 1 100%;
        margin: 0 20px;
    }
    
    .post {
        width: 100%;
        max-width: 100%;
        padding: 15px;
    }
    
    .nav a {
        padding: 15px;
    }
}

@media (max-width: $very_small_width) {
    .jump_page {
        display: none;
    }
}


{CustomCSS}